{# RST Directive Template for DDR Tags #}
.. {{ tier|lower }}:: {{ title }}
   :id: {{ tag_id }}
{%- if parent_citations %}
   :links: {{ parent_citations|join(', ') }}
{%- endif %}
{%- if content %}

{{ content|indent(3) }}
{%- endif %}
{%- if validation_warnings %}

{# Validation Warnings (as RST comments) #}
{%- for warning in validation_warnings %}
.. warning:: {{ warning }}
{%- endfor %}
{%- endif %}
